<div class="section" id="education">
    <div class="container cc-education">
      <div class="h4 text-center mb-4 title">Education</div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2017 - 2020</p>
              <div class="h5">Bachelor's Degree</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Bachelor of Engineering</div>
               <h4 class="category">Bangalore Institute Of Technology
               </h4>
               <ul>
                <li> Bangalore Institute of Technology is an engineering college, affiliated to the Visvesvaraya Technological University, Belgaum located in Bangalore. </li>
                    <li>Completed B.E in Computer Engineering with <b>6.1 CGPA</b>.</li>
                
             </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2014 - 2017</p>
              <div class="h5">Diploma</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Diploma</div>
               <h4 class="category">Government Polytechnic, Chintamani
               </h4>
               <ul>
                <li>
                  Government Polytechnic, Chintamani is an AICTE approved institution run by Government of Karnataka
                   and coming under the purview of Directorate of Technical Education
                                  </li>
                                  <li>
                                      Completed my Diploma with<b> 69.29%</b>.
                                  </li>
             </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2013 - 2014</p>
              <div class="h5">Sedcondary School</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Secondary School</div>
               <h4 class="category">Chetan English Medium High School Vidhyalaya
               </h4>
               <ul>
                <li>
                    Completed my Secondary school with <b>77.12%</b>.
                </li>
             </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>